* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    color: black;
    background: white;
}

#body {
    margin: 0 auto;
    background: white;
    font-family: "Lucida Sans Unicode", sans-serif;
}

#header {
    background: white;
    position: fixed;
}

#header_title {
    position: fixed;
    background: white;
    text-align: center;
    color: black;
    font-size: 14pt;
    padding-left: 24em;
    width: 41.4em;
    padding-bottom: 3em;
}

#header_subtitle {
    background: white;
    position: fixed;
}

#subtitle {
    text-align: center;
    color: #666;
    font-size: 8pt;
    background: white;
    position: fixed;
    margin-top: 5em;
    margin-left: 63em;
    width: 30em;
    border-top: solid 0.1em black;
}

#left_sidebar {
    height: 45em;
    background: white;
    margin-top: 3.5em;
    padding-left: 5em;
    padding-top: 1em;
    padding-bottom: 5em;
    position: fixed;
    border-right: solid 0.1em black;
    z-index: 0;
}

#left_sidebar_entries {
    padding-top: 3em;
    width: 20em;
    text-align: right;
    color: black;
    font-size: 10pt;
    background: white;

}

.left_sidebar_entry {
    padding-right: 4em;
}

#entries {
    margin-left: 25em;
}

.entry {
    padding-top: 8em;
    width: 55em;
}

.entry p {
    text-align: justify;
    margin-bottom: 1em;
}

#footer {
    background: white;
    padding-top: 5em;
    margin-bottom: 1em;
}

#footer_text {
    text-align: center;
    margin-top: 5em;
    color: white;
    font-size: 8pt;
    background: white;
    border-top: solid 0.1em #b7ddf2;
    border-bottom: solid 0.1em #b7ddf2;
    margin-left: 37.4em;
    margin-right: 33em;
    background: black;
}

.tags {
    color: white
}

.tags p {
    margin-bottom: 1em;
    font-size: 8pt;
    background-color: black;
}

.published {
    color: white;
    background-color: black;
}

.published p {
    color: white;
    font-size: 8pt;
    text-align: right;
}
