* {
    margin: 0;
    padding: 0;
    border: 0;
}

#body {
    margin: 0 auto;
    background: #555753 ;
/*    background: #F0F0F0 ; */
    font-family: "Lucida Sans Unicode", sans-serif;
    text-align: center;
    width: 60em;
    border: 0;
}


#content {
    background: #BEBEBE; 
    text-align: center;
}

#header {
/*    background: #555753 ;  */
    background: #1A1414 ; 
}

h1#header {
    color: #BEBEBE;
}

#subheader {
    background: #9C9C9C;
    border-bottom: solid 0.1em #555753;
}

p#subheader {
}

#left_sidebar {
    position: absolute;
    background: #BEBEBE;
    width: 15em;
    margin-left: 1em;
    margin-top: 6em;

}

#left_sidebar_box {
    background: #9C9C9C ;
    border: solid 0.1em #555753;
    margin-bottom: 1em;
}

h1#left_sidebar_header {
    font-size: 1em;
    color: #BEBEBE;
    border: 0;
    background: #1A1414 ;
}

#left_sidebar_entry {
    background: #9C9C9C;
    border: 0;
}

p#left_sidebar_entry {
    background: #D0D0D0;
    border: 0;
}

#blog {
    text-align: center;
    position: relative;
    margin-left: 16em; 
    padding-top: 6em;
    padding-bottom: 6em;

}

#blog_payload {
    margin-left: 1em;
    margin-right: 1em;
    padding: 0.2em;
    text-align: justify;
    background: #D0D0D0; 
/*    background: white; */
    border-left: solid 0.1em #555753;
    border-right: solid 0.1em #555753;
}

span#blog_payload {
    border: 0;
}

#blog_headline {
    background: #1A1414 ;
    margin-left: 1em;
    margin-right: 1em;
    color: #BEBEBE;
}

h1#blog_headline {
    font-size: 1em;
}

#blog_tags {
    background: #9C9C9C ; 
    text-align: right;
    margin-left: 1em;
    margin-right: 1em;
    border-left: solid 0.1em #555753;
    border-right: solid 0.1em #555753;
    border-bottom: solid 0.1em #555753;
}

a#blog_tags {
    margin: 0;
    border: 0;
}

#blog_footer {
    background: #1A1414 ;
    margin-left: 1em;
    margin-right: 1em;
    border-left: solid 0.1em #555753;
    border-right: solid 0.1em #555753;
    border-bottom: solid 0.1em #555753;
    color: #BEBEBE;
    text-align: right;
}

#pagination {
    background: #9C9C9C;
    border-top: solid 0.1em #555753;
}

#footer {
    background: #1A1414 ;
    color: #E0E0E0;
}



span#blog_published_by {
    padding-bottom: 0.2em;
    font-size: 0.7em;
    vertical-align: middle;
    text-align: right;
}

span#blog_username {
    padding-bottom: 0.2em;
    font-size: 0.7em;
    vertical-align: middle;
}

span#blog_published_at {
    padding-bottom: 0.2em;
    font-size: 0.7em;
    vertical-align: middle;
}

span#blog_creation_date {
    padding-bottom: 0.2em;
    padding-right: 0.6em;
    font-size: 0.7em;
    vertical-align: middle;
}
