<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="de">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {%- block head %}
    {% block stylesheet %}<link rel="stylesheet" href="/static/base.css" />{% endblock %}
    <title>{% block title %}{% endblock %} ::{{ g.blog_name }}::</title>
    {%- endblock %}
</head>
<body id="body">
    <div id="header">
        {%- block header %}
        <h1 id="header">{{ g.blog_name }}</h1>
        {%- endblock %}
    </div>
    <div id="subheader">
        {%- block subheader %}
        <p id="subheader">{{ g.blog_subtitle }}</p>
        {%- endblock %}
    </div>
    {%- block left_sidebar -%}
    {%- include "left_sidebar.html" ignore missing -%}        
    {%- endblock -%}
    {%- block right_sidebar -%}
    {%- include "right_sidebar.html" ignore missing -%}        
    {%- endblock %}
     <div id="content">
        {%- block content %}
        {%- endblock %}
    </div>
    <div id="footer">
        {%- block footer %}
        <p id="footer">&copy; Copyright by <a id="footer" href="/copyright">{{ g.blog_name }}</a>.</p>
        {%- endblock %}
    </div>
</body>

